.contact-section {
  padding-bottom: 96px;

  &__container {
    display: flex;
    gap: 32px;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__map {
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
  }

  &__details {
    color: var(--color-accent);
  }

  &__form-field {
    margin-bottom: 24px;
  }

  &__button {
    display: block;
    margin: 0 auto 24px;
  }

  &__terms {
    margin: 0 auto;
    line-height: 1.5;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    max-width: 220px;
  }

  &__terms-link {
    color: var(--color-primary-dark);
    text-underline-offset: 2px;
  }
}
