.input {
  &__label {
    display: block;
  }

  &__control {
    padding: 16px 42px;
    width: 100%;
    border: 1px solid var(--color-secondary-dark);
    border-radius: 8px;
    background-color: transparent;
    font-size: 16px;
    line-height: 1.17;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }

  &__control:focus {
    border-color: var(--color-brand);
    outline: none;
  }

  &__control::placeholder {
    color: var(--color-secondary);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.17;
  }

  &__control:focus::placeholder {
    color: var(--color-primary-dark);
  }
}
