:root {
  --color-brand: #819b57;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-accent: #465929;
  --color-secondary: #a18268;
  --color-decor-light: #cfcfbc;
  --color-secondary-dark: #a18268;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desctop: 1280px;
